#headerSection {
    width: 100%;
    height: 100px;
background-color: gray;
}

nav ul li {
    display: inline;
    float: right;
    margin: 35px 75px 35px 75px;

}

#logo {
    margin: 5px;
}

body {
  text-align: center;
}

#upperMain {
display: block;
margin-left: auto;
margin-right: auto;
margin-top:30px ;
margin-bottom: 30px;
width: 78%;

}

#img1 {
 float:left;
 margin: 30px 30px 30px 150px;

}
#img2 {  
  float:inline;
  margin: 30px 30px 30px 30px;

}
#img3 {
  float:right;
  margin: 30px 150px 30px 30px;


}

#img4 {
  float: left;
  margin: 30px 30px 30px 150px;

}

h4 { 
  text-align: left;
  font-size: 1.3rem;
  font-weight: bold;
  
}

p {
  overflow-y: scroll;
text-align: right;
margin: 10px 150px 30px 10px;

}

#article {


}

button {
  margin: 10px 10px 10px 10px;
  position:absolute;
  float: left;
}

button:hover {
  background-color: #333;
  border-color: #333;
  color: #eee;
  border-radius: 200px;
}

footer {
    height: 75px;
     width: 100%;
     background-color: gray;
     margin-top: 50px;
    }